h2 {
	color: white;
	font-size: 15px;
}

h1 {
	font-family: 'Helvetica';
	color: white;
}

.status-label {
	color: white;
	text-align: center;
}

.feedback-label {
	color: white;
	width: 33%;
	text-align: center;
}

.feedback-indicator {
	width: 33%;
	height: 50px;

}

#feedback-m1-hot {
	background-color: orange;
}

#feedback-m1-vib {
	background-color: yellow;	
}

#feedback-m1-cold {
	background-color: blue;
}


#feedback-m2-hot {
	background-color: orange;	
}

#feedback-m2-vib {
	background-color: yellow;
}


#feedback-m2-cold {
	background-color: blue;	
}

.feedback {
	width: 205px;
	height: 50px;
}


.status {

}

.status-indicator {
	background-color: red;
	height: 120px;
	width: 120px;
	vertical-align: middle;
}


#title {
	padding: 0px;
	font-size: 30px;
	text-align: center;
}

#description {
	font-size: 20px;
	text-align: center;
}

.value {
	color: white;
};

.label {
	color: #FF0000;
};
