h2 {
	color: white;
	font-size: 15px;
}

.percentage {
	font-size: 30px;
	color: black;
	font-family: 'Helvetica';
	vertical-align: center;
}

h1 {
	font-family: 'Helvetica';
	color: white;
}

.collective-metric-column {
	width: 12.5%;
	text-align: center;
	h2 {
		font-size: 5px;
	}
}

.collective-metric-container {
	width: 12.5%;
	vertical-align: center;
	height: 100px;
}

.collective-metric {
	width: 80%;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	height: 120px;
}

.individual-metric-column {
	width: 12.5%;
	text-align: center;
	h2 {
		font-size: 5px;
	}
}

.individual-metric-container {
	vertical-align: bottom;
	height: 100px;
}

.individual-metric {
	width: 80%;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
}

.status-label {
	color: white;
	text-align: center;
}

.feedback-label {
	color: white;
	width: 33%;
	text-align: center;
}

.feedback-indicator {
	width: 33%;
	height: 100px;
}

#feedback-m1-hot {
	background-color: orange;
}

#feedback-m1-vib {
	background-color: yellow;	
}

#feedback-m1-cold {
	background-color: blue;
}

#feedback-m2-hot {
	background-color: orange;	
}

#feedback-m2-vib {
	background-color: yellow;
}

#feedback-m2-cold {
	background-color: blue;	
}

.feedback {
	width: 100%;
	height: 100px;
}

.musician-history {
	height: 180px;
	width: 100%;
}

.status-indicator {
	background-color: red;
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

.separator {
	height: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #666666;
}

#title {
	padding: 0px;
	font-size: 30px;
	text-align: center;
}

#description {
	font-size: 20px;
	text-align: center;
}

.value {
	color: white;
};

.label {
	color: #FF0000;
};
