h2 {
	color: white;
	font-size: 15px;
}

h1 {
	font-family: 'Helvetica';
	color: white;
}

.status-label {
	color: white;
	text-align: center;
}

.status {

}

.status-indicator {
	background-color: red;
	height: 120px;
	width: 120px;
	vertical-align: middle;
}


#title {
	padding: 0px;
	font-size: 30px;
	text-align: center;
}

#description {
	font-size: 20px;
	text-align: center;
}

.value {
	color: white;
};

.label {
	color: #FF0000;
};
