body {
    background-color: black;
}

td {
	color: white;
}

#status {
	padding: 20px;
	font-size: 20pt;
	color: white;
}

.slider {
	margin-top: 16%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%; 
	height: 400px;	
	float: left;
	background-color: white;
}
